bam/*
bamc/*
fastq/*
frames/*
frames_examine/*
pileup/*
vcf/*
sra/*
multiQC/*
!multiQC/group_SRP149534_multiQC_report_data/multiqc_general_stats.txt
multi_bamqc/*
nuc/*
fastQC_results/*
plots/
bcftools_out/*

data/
!data/SraRunTable.txt
vcf_mapq18/

# output files

failed_to_prefetch.txt
fastQC_results/
fastqgz_list.txt
requirements.txt

# SLURM stdout files
slurm-*

# Qualimap
qualimap_v2.2.1/*

# Mutserve
mutserve/*

# Sratools
sratoolkit.2.11.0-ubuntu64/*

*.fna
*.fasta
*.fastq
*.fq
*.gz
*.sam
*.bam
*.bt2

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# R stuff
.Rhistory
#Rplots.pdf  # keep for now
.R_local_lib/*

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
*.sam
*.bt2
*.fna
seqnames.txt
*.ht2


# test directory
test/sra-tools/*
test/slurm-*.out

alignment_stdout.txt
